.ai {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #11021a;
    height: 100vh;

}

.ai .col-one {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 0px 20px;

}

.ai .col-two {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 0px 20px;
    
}


.ai .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    max-width: 310px;
    
}


.title h1 {
    margin-bottom: 15px;
}
  
.square-container {
    
    width: 100px;
    height: 100px; 
}
  
  
.square {
    font-size: 32px;
    width: 100%;
    height: 100%;
    background-color: #4a5568;
    color: #ffffff;
    border: 2px solid #718096;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.square:hover {
    background-color: #2d3748;
    
}

.status {
    font-size: 24px;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}
  

.stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}
  
.stats p {
    padding: 10px 20px 10px 20px;

    margin-left: 10px;
    margin-right: 10px;
    min-width: 60px;
    text-align: center;
    background-color: rgb(14, 169, 169);
    border-radius: 5px; 
    color:white;
}
  

.button {
    height: 50px;
    width: 200px;
    position: relative;
    background-color: #27ae60; 
    cursor: pointer;
    border: 2px solid #27ae60; 
    overflow: hidden;
    border-radius: 30px;
    color: #333;
    transition: all 0.5s ease-in-out;
    margin-bottom: 10px;
}

.button:hover {
    box-shadow: 1px 1px 200px #27ae60; /* Bright green shadow on hover */
    color: #fff;
    border: none;
}

.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 2px;
}


.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #333;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}



.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}