.hero .container {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease forwards;
  }
  
  .hero {
    background-color: #11021a;
    animation: fadeIn 1s ease forwards;
  }
  
  .hero .container h1 {
    font-size: 7vw;
    text-align: center;
    margin: 5px 20px;
    animation: fadeIn 1s ease forwards;
  }
  
  .hero .container h2 {
    margin: 30px 20px;
    font-size: 4vw;
    color: rgb(8, 193, 239);
    animation: fadeIn 1s ease forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  