header {
  width: 100%;
  height: 100px;
  background-color: #11021a;
}

header .navbar {
  max-width: 1240px;
  height: 100%;
  padding: 0 1rem;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  width: 80px;
  height: auto;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-self: start;
}

.nav-item {
  padding: 0 1.5rem;
}

.nav-link {
  color: #fff;
  cursor: pointer;
}

.nav-link:hover {
  color: rgb(8, 193, 239);
}

.login-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.login-container {
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333333;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container .form-group {
  margin-bottom: 15px;
  width: 100%;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333333;
}

.login-container input {
  width: calc(100% - 20px); /* Subtract padding */
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.login-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-container button,
.login-container input {
  margin-top: 10px;
}

.login-container button:last-child {
  margin-top: 20px;
}

.signup-tab {
  display: none; /* Hide the signup tab by default */
}

.signup-tab h2 {
  margin-bottom: 20px;
  color: #333333;
}

.signup-tab form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-tab .form-group {
  margin-bottom: 15px;
  width: 100%;
}

.signup-tab label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333333;
}

.signup-tab input {
  width: calc(100% - 20px); /* Subtract padding */
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.signup-tab button {
  padding: 10px 20px;
  background-color: #28a745; /* Green color for sign up button */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-tab button:hover {
  background-color: #218838; /* Darker green on hover */
}

.signup-tab button,
.signup-tab input {
  margin-top: 10px;
}

.signup-tab button:last-child {
  margin-top: 20px;
}
