.player {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #11021a;
    height: 100vh;
    
}

.player .col-one {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 0px 20px;

}

.player .col-two {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 0px 20px;
    
}


.player .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
 
    
}
  
.square-container {
    
    width: 20vh;
    height: 20vh; 
}
  
  
.square {
    font-size: 10vh;
    width: 100%;
    height: 100%;
    background-color: #4a5568;
    color: #ffffff;
    border: 2px solid #718096;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.square:hover {
    background-color: #2d3748;
    
}

.status {
    font-size: 4vh;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}
  
  

  


  
.custom-button:hover {
    background-color: #45a049;
}