* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #f71f1f;
  --secondary: #5241d7;
}

body {
  color: rgb(255, 255, 255);
  font-family: "Monsterrat", sans-serif;
  background-color: rgb(55, 63, 68);
}

ul {
  list-style: none;
  
}

a {
  text-decoration: none;
  columns: #fff;
}



.primary-color {
  color: var(--primary);
}



.button {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: #00fffb;
  cursor: pointer;
}

.button:hover  {
  border: 1px solid var(--secondary);
  background-color: var(--primary);
}